*~
*.swp
## autoconf files
.deps/
Makefile.in
/Makefile
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.log
/config.mak
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/ylwrap
## build files
